/build/intermediates
/build/generated
/build/tmp
/build/outputs/apk
/build/outputs/logs
/build/outputs/mapping/debug
/build/outputs/mapping/release/dump.txt
/build/outputs/mapping/release/seeds.txt
/build/outputs/mapping/release/usage.txt
