<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trianguloy.llscript.repository">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="net.pierrox.lightning_launcher.IMPORT_SCRIPTS"
        android:description="@string/permission_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/permission_label"
        android:protectionLevel="dangerous"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme" >
        <activity
            android:name=".loadInLauncher"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/browse_name"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webViewer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".noManager"
            android:label="@string/title_activity"
            android:excludeFromRecents="true">
        </activity>
        <activity android:name="com.app.lukas.llscript.RootScriptInstaller"
            android:icon="@drawable/ic_launcher"
            android:excludeFromRecents="true"
            android:label="@string/title_activity"/>
        <service android:name="com.app.lukas.llscript.ScriptImporter"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="@string/permission_name">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.IMPORT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            </service>
    </application>

</manifest>
