<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trianguloy.llscript.repository">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="net.pierrox.lightning_launcher.IMPORT_SCRIPTS"
        android:description="@string/permission_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/permission_label"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme" >
        <activity
            android:name=".loadInLauncher"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/browse_name">
        </activity>
        <activity
            android:name=".webViewer"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_repoImporter"
            android:launchMode="singleInstance">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pierrox.net"
                    android:pathPattern="/android/applications/lightning_launcher/wiki/doku\\.php"
                    android:scheme="http" />
                <!-- \\?id\\=script\\_.* -->
            </intent-filter>
        </activity>

        <service
            android:name="com.app.lukas.llscript.ScriptImporter"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/label_repoImporter"
            android:permission="net.pierrox.lightning_launcher.IMPORT_SCRIPTS">
        <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.IMPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName=".webViewer">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.trianguloy.llscript.repository.webViewer" />
        </activity>
        <activity
            android:name=".SubscriptionsDialog"
            android:label="@string/label_subscriptionsDialog"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.trianguloy.llscript.repository.SettingsActivity" />
        </activity>
    </application>

</manifest>
